{% extends 'default.html' %}

{% block main %}
<div class="jumbotron text-center">
  <h1>Global REITs Investment Challenge</h1>
  <p>Host by Asian Real Estate Research Institute</p>


<!--about page missino and value -->
<div class="container-fluid bg-grey text-center">
      <h2><strong>OUR MISSION:</strong></h2><br>
      <p>Educate Chinese University Students about REITs Investing through Live Trading Simulation</p>

      <h2><strong>OUR VALUE:</strong></h2><br>
      <p>The Challenge uses accurate and real-time stock market data to paint the picture of investment portfolio for prospective investors.</p>
        <br>
      <p>Our users include independent traders, individual soon-to-be investors, students, and many more. Regardless of who you are, PyFolio can provide you the most updated information with highly visualized analysis on individual stock level and on aggregated portfolio level.</p>
      <p>This user-friendly application is completely free and easy to use. It is a one-stop shop for users to gather data, news, and analyses in order to build value-adding REITs portfolios and start investing.</p>
        <br>
</div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES WE OFFER</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>DATA</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>ANALYSIS</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>NEWS</h4>
    </div>
  </div>
</div>
{% endblock %}
