{% extends 'default.html' %}

{% block main %}
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3" style="background-color:lightblue;">
      <img src="{{ STATIC_URL }}images/pengliu.jpg" class="img-thumbnail" alt="Amay Yadav" width="200" height="300">
    </div>
    <div class="col-sm-9" style="background-color:lightblue;">
      <h2>Peng Liu</h2>
      <br>
      <br>
      <p>Peng Liu is an associate professor of real estate and finance at the Cornell University School of Hotel Administration. Liu’s research focuses on the interaction between financial innovations and real economy, with a specific interest in real estate finance and investment, securitization, commodity pricing, and market analysis and operational research in retail, airline, hospitality, and recreational industries.</p>
    </div>
  </div>
</div>

<!---second jumbotron-->
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3" style="background-color:lightblue;">
      <img src="{{ STATIC_URL }}images/marshall.jpg" class="img-thumbnail" alt="Nadia Tian" width="200" height="300">
    </div>

    <div class="col-sm-9" style="background-color:lightblue;">
      <h2>Marshall Chang</h2>
      <br>
      <p>Marshall Chang is a recent Master of Finance graduate of Brandeis University, actively researching and developing Artificial Intelligence Trading Algorithm. He is working on launching an AI focused FX trading fund with cutting edge deep learning technology. He is the webmaster of Global REITs Investment Challenge.</p>
    </div>
  </div>
</div>



{% endblock %}
